@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes scaleIn {
  to {
    transform: scale(1);
    opacity:1;
  }
}

@keyframes slideIn {
  to {
    transform: translate(0, 0)
  }
}