.container {
  @include make-container();
  width: 100%;
  max-width: 1920px;
  min-width: 320px;
}

// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

// .container-fluid {
//   @include container-fixed;
// }

// Row
//
// Rows contain and clear the floats of your columns.

.row {
  @include make-row;
}


// Columns
//
// Common styles for small and large grid columns

// @include make-grid-columns;

// Extra small grid
//
// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones.

@include make-grid(xs);

// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

@include make-grid(s);


// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

@include make-grid(m);


// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@include make-grid(l);


// Extra Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@include make-grid(xl);


// This removes the negative margins from .row and
// the horizontal padding from all immediate children columns.
//
// Added together with .row
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
