// Headings
// ------------------------------------
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    font-family: $montserrat-regular;
    color: $body-text-dark;
    @include bp(l) {
      letter-spacing: 2;
    }
  }
  h1, .h1 {
    @include font-size(32);
    @include line-height(42);
    font-weight: bold;
    @include bp(m) {
      @include font-size(40);
      @include line-height(52);
    }
    @include bp(l) {
      @include font-size(48);
      @include line-height(64);
    }
  }
  h2, .h2 {
    @include font-size(24);
    @include line-height(34);
    font-weight: bold;
    @include bp(m) {
      @include font-size(28);
      @include line-height(40);
    }
    @include bp(l) {
      @include font-size(32);
      @include line-height(42);
    }
  }
  h3, .h3 {
    @include font-size(22);
    @include line-height(32);
    @include bp(m) {
      @include font-size(24);
      @include line-height(34);
    }
    @include bp(l) {
      @include font-size(28);
      @include line-height(40);
    }
  }
  h4, .h4 {
    @include font-size(20);
    @include line-height(28);
    @include bp(m) {
      @include font-size(22);
      @include line-height(32);
    }
    @include bp(l) {
      @include font-size(24);
      @include line-height(34);
    }
  }
  h5, .h5 {
    @include font-size(18);
    @include line-height(26);
    @include bp(m) {
      @include font-size(20);
      @include line-height(28);
    }
  }
  h6, .h6 {
    @include font-size(18);
    @include line-height(26);
  }

// Other Headings
// ------------------------------------
  .section-heading-primary {
    font-family: $montserrat-medium;
    @include font-size(20);
    @include line-height(28);
    letter-spacing: 2;
    color: $primary-color;
    position: relative;
    &:hover {
      cursor: pointer;
      color: $primary-color-darker;
    }
    &:after {
      @include icomoon;
      @include font-size(20);
      content: "\e905";
      position: absolute;
      top: 5px;
      right: 0;
    }
  }

  .section-heading-gray {
    font-family: $montserrat-regular;
    @include font-size(20);
    @include line-height(28);
    letter-spacing: 2;
    color: $gray-darker;
  }

  .section-heading-home {
    font-family: $montserrat-bold;
    @include font-size(20);
    @include line-height(28);
    letter-spacing: 2;
    @include bp(m) {
      @include font-size(28);
      @include line-height(38);
    }
    span {
      color: $primary-color;

      &.icon-class {
        @include font-size(30);
        @include bp(m) {
          @include font-size(40);
        }
      }
    }
  }

// Blockquote
// ------------------------------------
  blockquote,
  .blockquote {
    font-style: italic;
    border-top: $gray-border 1px solid;
    border-bottom: $gray-border 1px solid;
    @include font-size(18);
    @include line-height(34);
    padding: 20px;
    text-align: center;

    @include bp(m) {
      @include font-size(20);
      @include line-height(40);
      padding: 40px;
    }

    @include bp(l) {
      @include font-size(22);
      @include line-height(44);
      padding: 60px;
    }
    p {
      margin-bottom: 0;
    }
  }

// Links
// ------------------------------------
  a {
    color: inherit;
    text-decoration: none;
    &:visited,
    &:hover,
    &:focus {
      cursor: pointer;
      color: inherit;
      text-decoration: none;
    }
  }

  .text-item a {
    @include link-style();
  }

// Tags
// ------------------------------------
  .tag {
    @include tag-style();
  }

// Intro paragraph
// ------------------------------------
  .intro {
    @include font-size(22);
    @include line-height(40);
    margin-bottom: 1rem;
  }