//
//  Example usage:
//----------------
//  .htmlClass {
//    @include boxShadow(inset 0px -1px 2px 0px rgba(15,104,171,1));
//  }
//----------------
@mixin boxShadow($boxshadow_content) {
	-webkit-box-shadow: $boxshadow_content;
	-moz-box-shadow: $boxshadow_content;
	box-shadow: $boxshadow_content;
}
@mixin boxShadowComplex($value) {
	$value: unquote($value);
	-webkit-box-shadow: $value;
	-moz-box-shadow: $value;
	box-shadow: $value;
}