// Framework grid generation
//
// Based on bootstrap grid generation code, but modified
// to allow for auto generation of all breakpoint class names,
// instead of hardcoding them


@mixin grid-columns($class, $i:1, $list: ".col-#{$class}-#{$i}") {
  // Allow columns to stretch full width below their breakpoints
  @for $i from (1 + 1) through $grid-columns {
    $list: "#{$list}, .col-#{$class}-#{$i}";
  }
  #{$list} {
    @include make-col-ready();
  }
  .col-#{$class},
  .col-#{$class}-auto {
    @include make-col-ready();
  }
}

@mixin calc-grid-column($index, $class, $type) {
  @if ($type == width) and ($index > 0) {
    .col-#{$class}-#{$index} {
      @include make-col($index);
    }
  }
  @if ($type == push) {
    .col-#{$class}-push-#{$index} {
      @include make-col-push($index);
    }
  }
  @if ($type == pull) {
    .col-#{$class}-pull-#{$index} {
      @include make-col-pull($index);
    }
  }
  @if ($type == offset) {
    .col-#{$class}-offset-#{$index} {
      @include make-col-offset($index);
    }
  }

}

// [converter] This is defined recursively in LESS, but Sass supports real loops
@mixin loop-grid-columns($columns, $class, $type) {
  // Provide basic `.col-{bp}` classes for equal-width flexbox columns
  .col-#{$class} {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-#{$class}-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; // Reset earlier grid tiers
  }
  @for $i from 0 through $columns {
    @include calc-grid-column($i, $class, $type);
  }
}


// Create grid for specific class
@mixin make-grid($class) {
  @include grid-columns($class);
  @include bp($class) {
    @include loop-grid-columns($grid-columns, $class, width);
    @include loop-grid-columns($grid-columns, $class, pull);
    @include loop-grid-columns($grid-columns, $class, push);
    @include loop-grid-columns($grid-columns, $class, offset);

    // Flex variation
    //
    // Custom styles for additional flex alignment options.
    .flex-#{$class}-row            { flex-direction: row !important; }
    .flex-#{$class}-column         { flex-direction: column !important; }
    .flex-#{$class}-row-reverse    { flex-direction: row-reverse !important; }
    .flex-#{$class}-column-reverse { flex-direction: column-reverse !important; }

    .flex-#{$class}-wrap         { flex-wrap: wrap !important; }
    .flex-#{$class}-nowrap       { flex-wrap: nowrap !important; }
    .flex-#{$class}-wrap-reverse { flex-wrap: wrap-reverse !important; }

    .justify-content-#{$class}-start   { justify-content: flex-start !important; }
    .justify-content-#{$class}-end     { justify-content: flex-end !important; }
    .justify-content-#{$class}-center  { justify-content: center !important; }
    .justify-content-#{$class}-between { justify-content: space-between !important; }
    .justify-content-#{$class}-around  { justify-content: space-around !important; }

    .align-items-#{$class}-start    { align-items: flex-start !important; }
    .align-items-#{$class}-end      { align-items: flex-end !important; }
    .align-items-#{$class}-center   { align-items: center !important; }
    .align-items-#{$class}-baseline { align-items: baseline !important; }
    .align-items-#{$class}-stretch  { align-items: stretch !important; }

    .align-content-#{$class}-start   { align-content: flex-start !important; }
    .align-content-#{$class}-end     { align-content: flex-end !important; }
    .align-content-#{$class}-center  { align-content: center !important; }
    .align-content-#{$class}-between { align-content: space-between !important; }
    .align-content-#{$class}-around  { align-content: space-around !important; }
    .align-content-#{$class}-stretch { align-content: stretch !important; }

    .align-self-#{$class}-auto     { align-self: auto !important; }
    .align-self-#{$class}-start    { align-self: flex-start !important; }
    .align-self-#{$class}-end      { align-self: flex-end !important; }
    .align-self-#{$class}-center   { align-self: center !important; }
    .align-self-#{$class}-baseline { align-self: baseline !important; }
    .align-self-#{$class}-stretch  { align-self: stretch !important; }
  }
}