// Font size mixin to include px and rem
@mixin font-size($size: 16, $is-important: false) {
  $size: if(unitless($size), $size, $size / 1px);

  @if $is-important {
    font-size: $size + px !important;
    font-size: ($size / 10) + rem !important;
  } @else {
    font-size: $size + px;
    font-size: ($size / 10) + rem;
  }
}

@mixin line-height($size: 16, $is-important: false) {
  $size: if(unitless($size), $size, $size / 1px);

  @if $is-important {
    line-height: $size + px !important;
    line-height: ($size / 10) + rem !important;
  } @else {
    line-height: $size + px;
    line-height: ($size / 10) + rem;
  }
}

@mixin link-style($color: $link-color, $hover-color: $link-hover-color, $default-border: false, $hover-border: false) {
  @if $default-border {
    border-bottom: 1px solid $color;
  } @else {
    border-bottom: 1px solid transparent;
  }
  color: $color;
  transition: all .1s;
  padding-bottom: 0;
  text-decoration: none;
  @include font-size(16);
  @include line-height(18);

  &:hover {
    @if $hover-border {
      border-bottom: 1px solid $hover-color;
    } @else {
      border-bottom: 1px solid transparent;
    }
    color: $hover-color;
    cursor: pointer;
  }
}

@mixin button-style($size: s, $color: $white, $background: $primary-color, $background-hover: $primary-color-darker) {
  @if ($size == s) {
    height: 40px;
    @include font-size(16);
    @include line-height(18);
  }
  @if ($size == m) {
    height: 48px;
    @include font-size(18);
    @include line-height(20);
  }
  color: $color;
  background-color: $background;
  font-family: $montserrat-medium;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;

  &:focus,
  &.focus {
    background-color: $background-hover;
    outline: none !important;
  }

  &:hover {
    cursor: pointer;
    background-color: $background-hover;
  }

  &:active,
  &.active {
    background-color: $background-hover;
    outline: none;
  }
}

@mixin tag-style() {
  @include font-size(14);
  @include line-height(18);
  color: $gray;
  background-color: $white;
  font-family: $opensans-medium;
  border: 1px solid $gray-border;
  border-radius: 50%;
  height: 36px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;

  &:focus,
  &.focus {
    color: $white;
    border: 1px solid $gray-dark;
    background-color: $gray-dark;
    outline: none !important;
  }

  &:hover {
    cursor: pointer;
    color: $gray-dark;
    border: 1px solid $gray;
  }

  &:active,
  &.active {
    color: $white;
    border: 1px solid $gray-dark;
    background-color: $gray-dark;
    outline: none !important;
  }
}

@mixin form-input-style() {
  font-family: $opensans-regular;
  color: $gray-dark;
  height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid $gray-border;
  background-color: $form-bg;
  padding-left: 10px;
  padding-right: 10px;

  &:focus,
  &.focus {
    color: $gray-darker;
    border: 1px solid $gray-darker;
  }

  &.error {
    border: 1px solid $primary-color-darker;

    label {
      display: block;
      font-family: $opensans-regular;
      color: $primary-color-darker;
    }
  }
}
