.breadcrumb {
  display: none;
  @include bp(m) {
    display: block;
    height: 50px;
    display: flex;
    align-items: center;
    color: $gray;
    border-bottom: 1px solid $gray-border;

    a {
      &:hover {
        color: $gray-dark;
      }
    }

    span.centricBreadcrumbsSeparator {
      position: relative;
      display: inline-block;
      width: 30px;

      &:before {
        content: "|";
        width: 30px;
        position: absolute;
        background-color: white;
        left: 0;
        top: -1px;
        text-align: center;
      }
    }
  }
}