#centricEditModeLink {
  z-index: 102;
  position: fixed;
  top: 0;
  background: none;
}
body {
  #editmode_html_head {
    @include bp(l) {
      padding-left: 80px;
    }
  }
  &.nonav {
    #editmode_html_head {
      @include bp(l) {
        padding-left: 0;
      }
    }
  }
  .editmode_icon_bar {
    @include rounded(0);
    a {
      img {
        margin: 0;
      }
    }
  }
}
.editmode_bar_container {
  a {
    @include nohover;
    display: inline-block !important;
    padding: 0 !important;
  }
  img {
    display: inline !important;
    padding: 0 !important;
    margin: 0px !important;
    width: auto !important;
  }
}
.editmode_control_toolbar {
  a {
    display: inline-block !important;
    padding: 0 !important;
    img {
      width: auto;
      margin: 0;
    }
  }
}

#TB_overlay {
  z-index: 22000;
}
#TB_window {
  z-index: 22001;
}
