footer {
  .top__link {
    border-bottom: 1px solid $gray-border;
    @include bp(l) {
      display: none;
    }
    .back-to-top {
      padding: 30px 0;
      font-family: $montserrat-regular;
      line-height: 1;
      &:after {
        @include icomoon;
        @include font-size(20);
        content: "\e909";
        vertical-align: -2px;
        margin-left: 3px;
      }
    }
  }
  .footer__top {
    .row {
      @include bp(l) {
        height: 120px;
        max-height: 120px;
      }
    }
    .top__social {
      @include bp(0, m) {
        margin: 30px 0;
      }
      .icon-base {
        @include icomoon;
        @include font-size(30);
        background-color: $gray-bg;
        border-radius: 50%;
        padding: 7px;
        display: inline-block;
        &:hover {
          cursor: pointer;
          color: $primary-color-darker;
        }
      }
      .icon-facebook:before {
        @extend .icon-base;
        content: "\e90b";
      }
      .icon-twitter:before {
        @extend .icon-base;
        content: "\e91a";
        margin-left: 15px;
      }
      .icon-youtube {
        @extend .icon-base;
        margin-left: 15px;
        &:hover .path1:before {
          cursor: pointer;
          color: $primary-color-darker;
        }
      }
      .icon-youtube .path1:before {
        content: "\e91c";
        color: $body-text;
      }
      .icon-youtube .path2:before {
        content: "\e91d";
        color: $white;
        margin-left: -1em;
      }
      .icon-email {
        position: relative;
        display: block;
        margin-top: 30px;
        margin-right: 195px;
        @include bp(l) {
          display: inline-block;
          width: auto;
          margin-top: 0;
          margin-left: 40px;
          margin-right: 0;
          font-weight: bold;
        }
        &:before {
          @extend .icon-base;
          content: "\e91e";
          background-color: $white;
          padding: 0;
        }
      }
      .email-subscribe {
        position: absolute;
        left: calc(50% + 30px);
        top: auto;
        bottom: 7px;
        width: 200px;
        text-align: left;
        font-family: $montserrat-medium;
        @include bp(l) {
          font-weight: normal;
          left: calc(100% + 15px);
          top: 7px;
          bottom: auto;
        }
      }
    }
    .top__logo {
      @include bp(0, m) {
        margin-bottom: 30px;
      }
      img {
        height: 35px;
        width: auto;
        @include bp(l) {
          height: 50px;
          width: auto;
        }
        + img {
          padding-left: 15px;
          @include bp(l) {
            padding-left: 40px;
          }
        }
      }
    }
  }
  .footer__bottom {
    background-color: $gray-dark;
    .row {
      @include bp(l) {
        height: 60px;
        max-height: 60px;
      }
    }
    a {
      color: $gray-bg;
      @include font-size(14);
      @include link-style($gray-bg, $white);
      @include bp(l) {
        @include font-size(16);
      }
      + a {
        margin-left: 15px;
        @include bp(l) {
          margin-left: 20px;
        }
      }
    }
    .bottom__link {
      font-family: $montserrat-medium;
      @include bp(0, m) {
        margin: 20px 0 10px;
      }
    }
    .bottom__info {
      @include bp(0, m) {
        margin-bottom: 30px;
      }
    }
  }
  .footer--item {
    @include bp(0, l) {
      text-align: center;
    }
  }
}