header {
  position: relative;
  height: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: $montserrat-regular;

  @include bp(l) {
    height: 110px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header__logo {
    display: inline-flex;
    align-items: center;
    img {
      width: 80px;
      @include bp(l) {
        width: 110px;
      }
    }

    .site-name {
      display: none;
      @include bp(l) {
        display: block;
        @include font-size(18);
        @include line-height(22);
        color: $gray-darker;
        padding-left: 20px;
      }
    }
  }

  .header__content {
    display: inline-flex;
    .content__info {
      @include font-size(15);
      @include line-height(20);
      color: $primary-color;
      text-align: right;
      @include bp(s) {
        display: inline-flex;
        align-items: center;
        strong {
          padding-right: 10px;
        }
      }
      @include bp(m) {
        @include font-size(16);
      }
      @include bp(l) {
        &:before {
          @include icomoon;
          @include font-size(24);
          content: "\e912";
          padding-right: 10px;
          margin-top: -2px;
        }
      }
    }

    .content__action {
      @include font-size(15);
      @include line-height(20);
      color: $gray-bg;
      display: inline-flex;
      position: absolute;
      right: 20px;
      top: 100%; // #TODO# Change to calc(100% + (Nav height / 2))
      z-index: 5;
      @include bp(m) {
        @include font-size(16);
        right: 30px;
      }
      @include bp(l) {
        position: initial;
        color: $gray-darker;
      }

      .action-item {
        padding-left: 20px;
        &:hover {
          cursor: pointer;
          color: $white;
        }
        @include bp(l) {
          padding-left: 40px;
          &:hover {
            color: $primary-color; //#TODO# Confirm the hover style with Abby
          }
          &:first-child:before {
            @include icomoon;
            @include font-size(24);
            content: "\e918";
            padding-right: 10px;
            vertical-align: -4px;
          }
          &:last-child:before {
            @include icomoon;
            @include font-size(24);
            content: "\e916";
            padding-right: 10px;
            vertical-align: -4px;
          }
        }
      }
    }
  }
}