.homepage {
  .main {
    .map__component {
      .map__location {

      }
      .map__content {
        // Some dirty margins to achieve background color and map full width
        margin-left: -15px;
        margin-right: -15px;
        @include bp(m) {
          margin-left: -22px;
          margin-right: -22px;
        }
        @include bp(l) {
          margin-left: -30px; // container gutter - column gutter
          margin-right: -30px;
        }
        @include bp(xl) {
          margin-left: -25px; // container gutter - container gutter
          margin-right: -25px;
        }
        .content-left {
          background-color: $primary-color;
          padding-left:  20px;
          padding-right: 20px;

          @include bp(m,l) {
            padding-left:  30px;
            padding-right: 30px;
          }
          @include bp(l) {
            padding-left:  40px;
            padding-right: 40px;
          }
        }
        .content-right {
          padding-left: 0;
          padding-right: 0;
          background-color: $secondary-color;
        }
      }
    }

    .emergency__contact {
      display: flex;
      flex-wrap: wrap;
      padding: 30px;
      .contact-header {

      }

      .contact-item {

      }
    }
  }
}