// Shared styles for internals
.internal {
  .main__content {
    padding-top: 20px;
    @include bp(m) {
      padding-top: 66px; // Make it visually same as sidebar horizontally
      padding-left: 60px;
    }

    h1, h2, .intro {
      margin-bottom: 25px;
    }

    .centricGeneral {
      margin-bottom: 25px;
    }

    img.image-right {
      width: 100%;
      @include bp(m) {
        $spacing: 40px;
        width: 40%;
        height: auto;
        float: right;
        margin: 10px 0 #{$spacing/2} #{$spacing};
      }
    }
    img.image-left {
      width: 100%;
      @include bp(m) {
        $spacing: 40px;
        width: 40%;
        height: auto;
        float: left;
        margin: 10px #{$spacing} #{$spacing/2} 0;
      }
    }

    blockquote,
    .blockquote {
      margin: 35px auto;
    }

    ul {
      list-style: none;
      padding-left: 30px;
      li {
        padding-left: 1em;
        text-indent: -.7em;
        &:before {
          content: "• ";
          color: $primary-color;
          margin-left: -15px;
          margin-right: 15px;
        }
      }
    }
  }
}

// Styles for standard internal / prepare for bushfire
.standard-internal {
}

// Styles for internal 2 columns
.internal-two {
  // Content listing with page type
  .centricListingResultContainer {
    margin-bottom: 25px;
    .centricListingThumbnail {
      width: 100%;
      img {
        width: 100%;
        margin-bottom: 15px;
      }
      @include bp(m) {
        width: 50%;
        img {
          margin-bottom: 0;
          padding-right: 35px;
        }
      }
    }
    .centricListingResultSmall {
      width: 100%;
      .centricListingTitle {
        @extend h4;
      }
      .centricListingGeneral a.centricListingLink {
        position: relative;
        &:hover {
          color: $link-hover-color;
        }
        &:before {
          content: "Link example";
          width: 110px;
          background: white;
          position: absolute;
          top: 0;
          left: 0;
          color: $link-color;
          font-family: $montserrat-medium;
        }
        &:after {
          @include icomoon;
          @include font-size(20);
          content: "\e905";
          position: absolute;
          left: 110px;
          top: 7px;
          color: $link-color;
        }
      }
      @include bp(m) {
        width: 50%;
      }
    }
  }
}

// Styles for internal 3 columns
.internal-three {
  img {
    width: 100%;
    margin-bottom: 25px;
  }

  // Page links control can also be seen on 'warnings and incidents' and 'bans and ratings'
  // Following style can be applied to both pages mentioned above but change bp(m, m) to bp(m)
  .page_links_container {
    margin-top: 15px;
    @include bp(m, m) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .page_links_item {
      margin-bottom: 25px;
      width: 100%;
      @include bp(m, m) {
        width: calc(50% - 8px);
      }
      .page_links_thumbnail {
        width: 100%;
        padding-bottom: 10%; // Ratio 193:20 ~ 10%
        background-image: url('/custom/files/media/disasters_prepare_and_stay_safe.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      .page_links_content {
        padding: 25px;
      }
    }
  }
}