$desktopChildNavH: 344px;
@mixin childTitle {
  @include bp(l) {
    @include font-size(32px);
    font-family: $montserrat-regular;
    text-transform: uppercase;
    padding: 12px 0 20px;
    color: $navText;
    &:hover {
      color: $primary-color;
    }
  }
}
@mixin desktopActiveStyle {
  @include bp(l) {
    position: relative;
    color: $navActive;
    &:after {
      content: '';
      font-family: $font-family-base;
      display: block;
      position: absolute;
      top: auto;
      bottom: -30px;
      left: 10px;
      width: calc(100% - 20px);
      height: 2px;
      background: $navActive;
    }
  }
}
@mixin desktopChildNav {
  @include bp(l) {
    z-index: -1;
    top: 100px;
    left: 0;
    height: $desktopChildNavH;
    padding: 60px 0 90px;
    border-top: 2px solid $navBorder;
    font-size: 0;
    > li,
    .search__form {
      font-size: 16px;
    }
    .search__form {
      margin-top: 15px;
    }
    .child__item {
      width: 25%;
      display: inline-block;
      padding-right: 20px;
      vertical-align: top;
      a {
        padding: 6px 0;
      }
    }
    .item--parent {
      width: 100%;
      a {
        @include childTitle;
      }
    }
    > .nav__item {
      width: 25%;
      vertical-align: top;
      a {
        padding: 12px 40px 8px 0;
      }
    }
  }
}
body.nav--open {
  position: relative;
  height: auto;
  &:before {
    content: '';
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }
}
nav {
  color: $white;
  @include bp(l) {
    z-index: 3;
    position: relative;
    background: $gray-dark;
  }
  >.row {
    z-index: 4;
    position: relative;
    @include bp(0, l) {
      overflow-x: hidden;
      position: absolute;
      top: 90px;
      left: 0px;
      display: none;
      width: 100%;
    }
    @include bp(l) {
      height: 100px;
    }
    > .columns {
      @include bp(0, l) {
        padding: 0;
      }
      > ul {
        position: relative;
        @include bp(l) {
          width: 100%;
          padding: 26px 0;
          text-align: right;
          background: $white;
        }
      }
    }
  }
  ul.child--open {
    &:before {
      left: 0;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    &:before {
      content: '';
      z-index: 1;
      position: absolute;
      top: 54px;
      bottom: 0;
      left: 100%;
      right: 0;
      background: $white;
      transition: left 0.3s linear;
    }
    li {
      padding: 0;
      border-bottom: 1px solid $navItemBorder;
      list-style: none;
      @include bp(l) {
        display: inline-block;
        border-bottom: none;
        text-align: left;
        vertical-align: middle;
      }
      &:last-child {
        border-bottom: none;
      }
      a {
        display: block;
        padding: 15px 20px 12px;
        color: $navText;
        @include font-size(22px);
        font-family: $montserrat-regular;
        @include bp(l) {
          padding: 10px;
          @include font-size(18px);
          &:hover {
            color: $primary-color;
          }
        }
      }
      ul {
        @include bp(l) {
          text-align: left;
        }
        a {
          padding: 12px 20px 8px;
          @include font-size(18px);
          font-family: $montserrat-regular;
        }
        .item--parent,
        .item--goback {
          a {
            font-family: $montserrat-regular;
          }
        }
        .item--goback {
          @include bp(l) {
            display: none;
          }
          a {
            padding: 8px 20px;
            text-transform: uppercase;
            background: $navGoBackBg;
            color: $navGoBackText;
          }
        }
        .js-toggle-nav-parent {
          span {
            display: inline-block;
            vertical-align: middle;
            padding-top: 3px;
          }
          [class^="icon-"] {
            padding-top: 0;
            padding-right: 20px;
            @include font-size(26px);
          }
        }
      }
    }
  }
  .js-close-nav {
    display: none;
    @include bp(l) {
      position: absolute;
      right: -3px;
      top: 77px;
      cursor: pointer;
      display: block;
      color: $navText;
      &:hover {
        color: $primary-color;
      }
      [class^="icon-"] {
        @include font-size(30px);
      }
    }
  }
  .nav__item--search {
    @include bp(0, l) {
      padding: 0 20px 10px;
      border-bottom: 4px solid $navBorderMobile;
    }
    @include bp(l) {
      float: right;
    }
    &.child--open {
      .js-toggle-search {
        @include desktopActiveStyle;
        @include bp(l) {
          &:after {
            left: 20px;
            bottom: -20px;
          }
        }
      }
    }
    .item--parent,
    .js-toggle-search {
      display: none;
      @include bp(l) {
        display: block;
      }
    }
    .js-toggle-search {
      @include bp(l) {
        padding: 10px 0 10px 20px;
        @include font-size(24px);
      }
    }
  }
  .nav__search {
    @include desktopChildNav;
    @include bp(l) {
      position: absolute;
      width: 100%;
    }
    .item--parent {
      @include childTitle;
    }
  }
  .nav__child {
    background: $white;
    @include bp(l) {
      display: none;
    }
    &.nav__search {
      display: block;
      @include bp(l) {
        display: none;
      }
    }
  }
  .nav__item {
    > .nav__child {
      @include bp(l) {
        &:before,
        &:after {
          content: '';
          z-index: -1;
          position: absolute;
          top: -2px;
          width: 99999px;
          height: $desktopChildNavH;
          left: auto;
          border-top: 2px solid $navBorder;
          background: $white;
          transition: initial;
        }
        &:before {
          right: 100%;
        }
        &:after {
          left: 100%;
        }
      }
    }
    &.children {
      > .ui-nav-desktop {
        @include bp(l) {
          display: block;
        }
      }
    }
  }
  .children {
    &.child--open {
      .js-toggle-nav-child {
        @include desktopActiveStyle;
      }
    }
    .js-toggle-nav-child {
      position: relative;
      padding-right: 40px;
      &:after {
        @include icomoon;
        // Right arrow.
        content: '\e914';
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        @include font-size(28px);
      }
      @include bp(l) {
        padding-right: 10px;
        &:after {
          display: none;
        }
      }
    }
    .ui-nav-desktop {
      display: none;
    }
    .nav__child {
      z-index: 3;
      position: absolute;
      // Height of search bar - border width.
      top: 50px;
      left: 100%;
      width: 100%;
      height: auto;
      @include desktopChildNav;
      &:before {
        z-index: 4;
      }
      .js-toggle-nav-child {
        z-index: 3;
        @include bp(l) {
          display: none;
        }
      }
      .nav__child {
        z-index: 4;
        top: -4px;
        &:before {
          z-index: 5;
        }
        .js-toggle-nav-child {
          z-index: 4;
        }
        .nav__child {
          z-index: 5;
          .js-toggle-nav-child {
            z-index: 5;
          }
        }
      }
    }
  }
  .header__bottom {
    background: $navGoBackBg;
    color: $navGoBackText;
    ul {
      li:first-child {
        padding-top: 10px;
      }
      li:last-child {
        padding: 10px 20px 20px;
      }
    }
    li {
      border: none;
    }
    a,
    .btn {
      color: $navGoBackText;
    }
    a {
      font-family: $montserrat-regular;
      @include font-size(18);
    }
    .btn {
      padding: 17px 10px 15px;
      text-align: center;
    }
  }
}
.nav__search--hidden {
  display: none !important;
}
.section-nav {
  width: 100%;
  ul {
    width: #{$bp-xl-min}px;
    max-width: 100%;
    padding: 10px $grid-gutter-xl;
    margin: 0 auto;
    list-style: none;
    @include bp(l) {
      padding: 10px 0;
    }
    li {
      display: inline-block;
      width: auto;
      padding: 0;
      vertical-align: middle;
      list-style: none;
      a {
        display: block;
        padding: 5px;
        color: $primary-color;
        font-family: $montserrat-regular;
        @include bp(l) {
          padding: 18px 15px;
          @include font-size(18px);
        }
        &:hover {
          color: $link-hover-color;
        }
      }
    }
  }
}
.is-sticky-section {
  @include bp(l) {
    .section-nav {
      z-index: 4;
      position: fixed;
      top: 100px; // sticky header height
      left: 0;
      @include boxShadow(0px 2px 8px 0px rgba(0,0,0,0.3));
      background-color: $primary-color;
      ul {
        height: 50px;
        padding: 6px 0;
        li {
          a {
            padding: 5px 15px;
            color: $white;
          }
        }
      }
    }
    main {
      margin-top: 50px; // sticky section nav height
    }
  }
}
