aside {
  display: none;
  @include bp(m) {
    display: block;
    border-right: 1px solid $gray-border;
    padding-top: 80px;
    @include font-size(16);
    @include line-height(24);
  }
  .sidebar-title {
    display: inline-block;
    @include font-size(20);
    @include line-height(28);
    font-family: $montserrat-medium;
    padding-top: 15px;
    padding-bottom: 30px;
    border-top: 2px solid $primary-color;
    color: $primary-color;
  }
  #sectionNavLinksnavcontainer {
    ul#sectionNavLinksnavlist {
      list-style-type:none;
      margin: 0;
      padding: 0;
      > li {
        display: flex;
        flex-wrap: wrap;
        padding: 15px 0;
        > a{
          width: 100%;
          &:hover {
            color: $link-hover-color;
          }
        }
        &.sub {
          padding: 0;
          > a {
            margin-left: -30px; // Enable background color to container width
            margin-right: -30px;
            padding-left: 30px;
            padding-right: 30px;
            width: calc(100% + 30px);
            padding-top: 15px;
            padding-bottom: 15px;
            background-color: $gray-bg;
            font-family: $opensans-bold;
            color: $gray-darker;
            @include bp(l) {
              margin-left: -40px;
              margin-right: -40px;
              padding-left: 40px;
              padding-right: 40px;
              width: calc(100% + 40px);
            }
          }
        }
        ul {
          margin: 0;
          padding-left: 16px;
          list-style-type: disc;
          color: $primary-color;
          @include font-size(12);
          > li {
            margin: 20px auto;
            padding-left: 5px;
            a {
              color: $body-text;
              @include font-size(16);
              &:hover {
                color: $link-hover-color;
              }
            }
          }
        }
      }
      li#sectionNavLinksactive {
        > a {
          color: $primary-color;
        }
      }
    }
  }
}