// Custom variables ( Place All you custom project specific variables here )
//----------------------------------------------------------------------------------------------------

// Base Font Variables
//----------------------------------------------------------------------------------------------------
  $icomoon:               "icomoon";
  $montserrat-regular:    "Montserrat Regular", Helvetica, Arial, "Lucida Grande", sans-serif;
  $montserrat-medium:     "Montserrat Medium", Helvetica, Arial, "Lucida Grande", sans-serif;
  $montserrat-bold:       "Montserrat Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
  $opensans-regular:      "Open Sans Regular", Helvetica, Arial, "Lucida Grande", sans-serif;
  $opensans-italic:       "Open Sans Italic", Helvetica, Arial, "Lucida Grande", sans-serif;
  $opensans-medium:       "Open Sans Medium", Helvetica, Arial, "Lucida Grande", sans-serif;
  $opensans-bold:         "Open Sans Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
  $font-family-base:      $opensans-regular;

// Grid Settings
//----------------------------------------------------------------------------------------------------
  $grid-columns:          12;

  $grid-gutter-xs:        10px;
  $grid-gutter-s:         10px;
  $grid-gutter-m:         16px;
  $grid-gutter-l:         20px;
  $grid-gutter-xl:        30px;

  $container-gutter-xs:   20px;
  $container-gutter-s:    20px;
  $container-gutter-m:    30px;
  $container-gutter-l:    40px;
  $container-gutter-xl:   40px;

  $grid-gutter-widths: (
    xs:   $grid-gutter-xs,
    s:    $grid-gutter-s,
    m:    $grid-gutter-m,
    l:    $grid-gutter-l,
    xl:   $grid-gutter-xl
  );

  $container-gutter-widths: (
    xs:   $container-gutter-xs,
    s:    $container-gutter-s,
    m:    $container-gutter-m,
    l:    $container-gutter-l,
    xl:   $container-gutter-xl
  );

  // Consistent with Deloitte breakpoints
  $grid-breakpoints: (
    xs:   0,
    s:    480px,
    m:    769px,
    l:    1140px,
    xl:   1680px
  );

  ////////////////////////////////////////
  // Used by mixin to generate containers with maximum width for all breakpoints
  // Not needed in this project since it only have one max width
  // -------------------------------------
  // $container-max-widths: (
  //   xs:  540px,
  //   s:   720px,
  //   m:   960px,
  //   l:   1140px,
  //   xl:  1140px
  // );
  ////////////////////////////////////////

// Base Colour Variables
//----------------------------------------------------------------------------------------------------
  $primary-color:           #EA2F2B; //c1a
  $primary-color-darker:    #EB1815; //c1b

  $secondary-color:         #F8C92B; //c2a
  $secondary-color-darker:  #E8BB25; //c2b

  $white:                   #FFF;
  $black:                   #000;

  // Grays
  $gray-darker:             #393B41; //c3a
  $gray-dark:               #50545F; //c3b
  $gray:                    #7C7F87; //c3c
  $gray-light:              #B0B2B7; //c3d

  $gray-border:             #DCDDDF; //c4a
  $gray-bg:                 #EEEEEF; //c4b
  $form-bg:                 #F6F6F7; //c4c

  $link-color:              $primary-color;
  $link-hover-color:        $primary-color-darker;

// Text Variables
//----------------------------------------------------------------------------------------------------
  $body-text:               #50545F; //c3b
  $body-text-dark:          #393B41; //c3a

  // Font sizes
  $font-size-base:          16px;

  $font-size-xs:            $font-size-base;
  $font-size-s:             18px;
  $font-size-m:             20px;
  $font-size-l:             22px;
  $font-size-xl:            28px;

  // Line heights
  $line-height-base:        34px;

  $line-height-xs:          26px;
  $line-height-s:           28px;
  $line-height-m:           $line-height-base;
  $line-height-l:           38px;
  $line-height-xl:          40px;
  $line-height-xxl:         44px;

//Nav Variables
//----------------------------------------------------------------------------------------------------
$navText:                   $gray-dark;
$navActive:                 $primary-color;
$navClose:                  #59595C;
$navBorder:                 #B9B9BA;
$navBorderMobile:           $secondary-color;
$navItemBorder:             #D9D9DA;
$navGoBackBg:               $secondary-color;
$navGoBackText:             $white;

// Breadcrumbs Variables
//----------------------------------------------------------------------------------------------------

// Form Variables
//----------------------------------------------------------------------------------------------------

// Button Variables
//----------------------------------------------------------------------------------------------------

// Footer Variables
//----------------------------------------------------------------------------------------------------

// Table Variables
//----------------------------------------------------------------------------------------------------
