@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9ezenw');
  src:  url('fonts/icomoon.eot?9ezenw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9ezenw') format('truetype'),
    url('fonts/icomoon.woff?9ezenw') format('woff'),
    url('fonts/icomoon.svg?9ezenw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_mail_24px:before {
  content: "\e91e";
}
.icon-ic_check_box_24px:before {
  content: "\e900";
}
.icon-ic_check_box_outline_blank_24px:before {
  content: "\e901";
}
.icon-ic_chevron_double_left_24px:before {
  content: "\e902";
}
.icon-ic_chevron_double_right_24px:before {
  content: "\e903";
}
.icon-ic_chevron_left_24px:before {
  content: "\e904";
}
.icon-ic_chevron_right_24px:before {
  content: "\e905";
}
.icon-ic_close_24px:before {
  content: "\e906";
}
.icon-ic_contact_mail_24px:before {
  content: "\e907";
}
.icon-ic_description_24px:before {
  content: "\e908";
}
.icon-ic_expand_less_24px:before {
  content: "\e909";
}
.icon-ic_expand_more_24px:before {
  content: "\e90a";
}
.icon-ic_facebook_24px:before {
  content: "\e90b";
}
.icon-ic_folder_24px:before {
  content: "\e90c";
}
.icon-ic_insert_drive_file_24px:before {
  content: "\e90d";
}
.icon-ic_insert_invitation_24px:before {
  content: "\e90e";
}
.icon-ic_library_books_24px:before {
  content: "\e90f";
}
.icon-ic_menu_24px:before {
  content: "\e910";
}
.icon-ic_pan_tool_24px:before {
  content: "\e911";
}
.icon-ic_phone_24px:before {
  content: "\e912";
}
.icon-ic_play_arrow_24px:before {
  content: "\e913";
}
.icon-ic_play_circle_filled_24px:before {
  content: "\e914";
}
.icon-ic_room_24px:before {
  content: "\e915";
}
.icon-ic_search_24px:before {
  content: "\e916";
}
.icon-ic_star_24px:before {
  content: "\e917";
}
.icon-ic_star_border_24px:before {
  content: "\e918";
}
.icon-ic_supervisor_account_24px:before {
  content: "\e919";
}
.icon-ic_twitter_24px:before {
  content: "\e91a";
}
.icon-ic_voice_chat_24px:before {
  content: "\e91b";
}
.icon-ic_youtube_24px .path1:before {
  content: "\e91c";
  color: rgb(0, 0, 0);
}
.icon-ic_youtube_24px .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
