<centric_control type="include" template="CFS 2017 - Include - Header">
  <body class="homepage<%= (pageOutput.getEditModeStatus() ? " editMode" : "")%><%= (verifySecurity.getAuthorID() != -1 ? " userSession" : "")%>" >
    <centric_control type="include" template="CFS 2017 - Include - Content Header">
    <centric_control type="include" template="CFS 2017 - Include - Navigation">
    <main class="container main" role="main">
      <div class="map__component">
        <div class="row map__location">
          <div class="col-xs-12">
            <div>Location input section.</div>
          </div>
        </div>
        <div class="map__content">
          <div class="row">
            <div class="col-xs-12 col-m-3 content-left">
              <div>Map component left</div>
            </div>
            <div class="col-xs-12 col-m-9 content-right">
              <div>Map component right</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 emergency__contact">
          <div class="contact-header">Emergency Contacts</div>
          <div class="contact-item">Emergency<strong>000</strong></div>
          <div class="contact-item">Bushfire Information Hotline<strong>1300 362 361</strong></div>
          <div class="contact-item">TTY<strong>133 677</strong></div>
          <div class="contact-item">CFS Headquarters<strong>8463 4200</strong></div>
        </div>
      </div>
      <div class="row page__links">
        <div class="col-xs-12 col-m-6 col-l-4 col-xl-2">
          Page link
        </div>
        <div class="col-xs-12 col-m-6 col-l-4 col-xl-2">
          Page link
        </div>
        <div class="col-xs-12 col-m-6 col-l-4 col-xl-2">
          Page link
        </div>
        <div class="col-xs-12 col-m-6 col-l-4 col-xl-2">
          Page link
        </div>
        <div class="col-xs-12 col-m-6 col-l-4 col-xl-2">
          Page link
        </div>
        <div class="col-xs-12 col-m-6 col-l-4 col-xl-2">
          Page link
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-xs-12 col-m-6 col-l-3">
          CFS Updates
        </div>
        <div class="col-xs-12 col-m-6 col-l-3">
          Events
        </div>
        <div class="col-xs-12 col-l-6">
          Featured Video
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <centric_control type="general" name="main_body">
          <centric_control type="general" name="main_body_1">
          <centric_control type="general" name="main_body_2">
          <centric_control type="general" name="main_body_3">
          <centric_control type="general" name="main_body_4">
          <centric_control type="general" name="main_body_5">
          <centric_control type="general" name="main_body_6">
          <centric_control type="general" name="main_body_7">
        </div>
      </div>
    </main>
    <centric_control type="include" template="CFS 2017 - Include - Footer">
  </body>
</html>