<nav class="container">
  <div class="row">
    <div class="col-xs-12">
      <centric_control type="dropdown_menu" name="header_nav" locked="true" controlLayoutTemplate="CFS 2017 - Responsive Menu">
    </div>
  </div>
</nav>