<div class="sidebar">
  <div class="sidebar-item sidebar-title">In this section</div>
  <centric_control type="family_links" id="sectionNavLinks" top_level="-1" show_children="true" show_ancestry="false" show_siblings="true">
</div>