<header class="container">
  <div class="row justify-content-xs-between align-items-xs-center">
    <div class="col-xs-auto">
      <div class="header__logo">
        <a href="/">
          <img src="/custom/files/media/CFS_State_Badge.svg" alt="CFS logo image" width="102" height="112">
        </a>
        <div class="site-name">
          <div>South Australia</div>
          <div>Country Fire Service</div>
        </div>
      </div>
    </div>
    <div class="col-xs-auto header__content">
      <div class="content__info">
        <div><strong>Emergency</strong></div>
        <div>Dial 000 or Teletype 106</div>
      </div>
      <div class="content__action">
        <div class="action-item">Favourite</div>
        <div class="action-item">Search</div>
      </div>
    </div>
  </div>
</header>