<footer>
  <div class="container top__link">
    <div class="footer--item back-to-top">TOP</div>
  </div>
  <div class="container footer__top">
    <div class="row justify-content-l-between align-items-l-center">
      <div class="col-l-auto footer--item top__social">
        <span class="icon-facebook"></span>
        <span class="icon-twitter"></span>
        <span class="icon-youtube"><span class="path1"></span><span class="path2"></span></span>
        <span class="icon-email"><span class="email-subscribe">Subscribe to our email</span></span>
      </div>
      <div class="col-l-auto footer--item top__logo">
        <img src="/custom/files/media/disasters_prepare_and_stay_safe.png">
        <img src="/custom/files/media/alertsa_footerlogo.png">
        <img src="/custom/files/media/cfs_logo_south_australia.png">
        <img src="/custom/files/media/cfs_logo_gov_south_australia.png">
      </div>
    </div>
  </div>
  <div class="container footer__bottom">
    <div class="row justify-content-l-between align-items-l-center">
      <div class="col-l-auto footer--item bottom__link">
        <a href="">Apps</a>
        <a href="">photos@cfs</a>
        <a href="">Publications</a>
        <a href="">Links</a>
      </div>
      <div class="col-l-auto footer--item bottom__info">
        <a href="">Privacy</a>
        <a href="">Copyright</a>
        <a href="">GOSA</a>
        <a href="">sa.gov.au</a>
      </div>
    </div>
  </div>
</footer>
<script src="/custom/js/script.min.js"></script>
<centric_control type="editmode_end">