<centric_control type="include" template="CFS 2017 - Include - Header">
  <body class="search-result<%= (pageOutput.getEditModeStatus() ? " editMode" : "")%><%= (verifySecurity.getAuthorID() != -1 ? " userSession" : "")%>" >
    <centric_control type="include" template="CFS 2017 - Include - Content Header">
    <centric_control type="include" template="CFS 2017 - Include - Navigation">
    <centric_control type="include" template="CFS 2017 - Include - Breadcrumb">
    <main class="container main" role="main">
      <div class="row">
        <div class="col-m-9 col-m-push-3 main__content">
          <centric_control type="include" template="CFS 2017 - Include - Title">
          Search Results Here
          <centric_control type="general" name="main_body">
          <centric_control type="general" name="main_body_1">
          <centric_control type="general" name="main_body_2">
          <centric_control type="general" name="main_body_3">
          <centric_control type="general" name="main_body_4">
          <centric_control type="general" name="main_body_5">
          <centric_control type="general" name="main_body_6">
          <centric_control type="general" name="main_body_7">
        </div>
        <div class="col-m-3 col-m-pull-9">
          Refine Your Search
        </div>
      </div>
    </main>
    <centric_control type="include" template="CFS 2017 - Include - Footer">
  </body>
</html>