<centric_control type="include" template="CFS 2017 - Include - Header">
  <body class="internal internal-three<%= (pageOutput.getEditModeStatus() ? " editMode" : "")%><%= (verifySecurity.getAuthorID() != -1 ? " userSession" : "")%>" >
    <centric_control type="include" template="CFS 2017 - Include - Content Header">
    <centric_control type="include" template="CFS 2017 - Include - Navigation">
    <centric_control type="include" template="CFS 2017 - Include - Breadcrumb">
    <main class="container main" role="main">
      <div class="row">
        <aside class="col-m-3">
          <centric_control type="include" template="CFS 2017 - Include - Sidebar">
        </aside>
        <div class="col-m-9 main__content">
          <div class="row">
            <div class="col-l-9">
              <centric_control type="include" template="CFS 2017 - Include - Title">
              <centric_control type="general" name="main_image" default="Image">
              <centric_control type="general" name="main_content" default="Text Item">
              <centric_control type="general" name="main_content_1" default="Text Item">
              <centric_control type="general" name="main_content_2" default="Text Item">
              <centric_control type="general" name="main_content_3" default="Text Item">
              <centric_control type="general" name="main_body">
              <centric_control type="general" name="main_body_1">
              <centric_control type="general" name="main_body_2">
              <centric_control type="general" name="main_body_3">
              <centric_control type="general" name="main_body_4">
              <centric_control type="general" name="main_body_5">
              <centric_control type="general" name="main_body_6">
              <centric_control type="general" name="main_body_7">
            </div>
            <div class="col-l-3">
              <!-- Static Page Links -->
              <div class="page_links_container">
                <div class="page_links_item">
                  <div class="page_links_thumbnail"></div>
                  <div class="page_links_content">
                    <div class="section-heading-primary">Page link title</div>
                    <p>Page link description.</p>
                  </div>
                </div>
                <div class="page_links_item">
                  <div class="page_links_thumbnail"></div>
                  <div class="page_links_content">
                    <div class="section-heading-primary">Page link title</div>
                    <p>Page link description.</p>
                  </div>
                </div>
              </div>
              <!-- ///////////////// -->
              <centric_control type="general" name="main_page_links">
              <centric_control type="general" name="main_page_links_1">
              <centric_control type="general" name="main_page_links_2">
              <centric_control type="general" name="main_page_links_3">
            </div>
          </div>
        </div>
      </div>
    </main>
    <centric_control type="include" template="CFS 2017 - Include - Footer">
  </body>
</html>